<div class="container">
  <div class="pull-right">
    {{#link-to 'shopping-cart'}}
      {{shoppingCart.goods.length}} item(s) in your cart
    {{/link-to}}
  </div>
  <h2>
    {{link-to 'Goods' 'goods.index'}}
  </h2>
  {{outlet}}
</div>
